
.two p{
    font-size: 20px;
    font-weight:500;
}



.three {
    background-color: #008000;
    font-size: 10px;
    margin-top: 40px;
    
    
}

.three h2{
    font-size: 25px;
    font-weight:700;
    color: #ffffff;
    margin-top: 20%;
    text-align: center;
    

}

.three p {
    font-size: 20px;
    font-weight:500;
    color:#ffffff;
    text-align:center;
    
    
}

.three img{
    width: 100%;
    height: 100%;
}

#centralizabotao{
    margin-left: 30%;
}

.four{
     background-color: #008000;
     padding: 5%;
}

.four h2 {
    font-size: 25px;
    font-weight:700;
    margin-top: 20%;
    text-align: center;
    color:#ffffff;
}

.four p{
    font-size: 20px;
    font-weight:500;
    text-align: center;
    color:#ffffff;
} 

.four img{
    width: 100%;
    height: 100%;
    
}

.five {
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

    
}

.five h2 {
    font-size: 25px;
    font-weight:700;
    color: #000000;
    margin-top: 20%;
    text-align: center;

}

.five p {
    font-size: 20px;
    font-weight:500;
    color:#000000;
    text-align: center;
}

.five span{
    font-size: 20px;
    font-weight:500;
}

.five img{
    width:100%;
    height:100%;
}


